<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.JustCart_ver4">

    <uses-permission android:name="android.permission.INTERNET" />

    //블루투스 권한 설정
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- If your app targets Android 9 or lower, you can declare ACCESS_COARSE_LOCATION instead. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_main3"
        android:roundIcon="@mipmap/ic_logo_btn_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JustCart_ver4"
        android:label="그냥담아"
        android:usesCleartextTraffic="true">
        <activity android:name=".Snack"/>
        <activity android:name=".CreateQR" />
        <activity android:name=".MypageActivity" />
        <activity android:name=".Frag_event3Activity" />
        <activity android:name=".Frag_event2Activity" />
        <activity android:name=".Frag_event1Activity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity"/>

        <activity android:name=".EventActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".CheckActivity" />
        <activity android:name=".PayActivity" />
        <activity android:name=".ShopActivity2" />
        <activity android:name=".Fruit" />
        <activity android:name=".Meat" />
        <activity android:name=".Drink" />
        <activity android:name=".NoodleActivity" />
        <activity android:name=".FrozenFood" />
        <activity android:name=".FreshActivity2" />
        <activity android:name=".CardActivity" />
        <activity android:name=".FreshBeaconActivity" />
        <activity android:name=".BluetoothActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>